* {
    margin: 0;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
}

h2 {
    font-size: 1.25rem;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
    width: 100%;
}

.a {
    font-size: 1rem;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
}

.input {
    background: #f6f7f8;
    padding: 8px;
    border: solid 1px #c5c7ca;
}

.invalid {
    background: #dc4545;
    border: solid 1px #751515;
    color: #ffffff;
}

.readonly {
    border: none;
    outline: none;
    cursor: default;
}

.a.readonly:hover {
    cursor: pointer;
}

.a:hover {
    cursor: text;
    text-decoration: none;
    color: black;
}

.padding {
    padding: 2rem;
}

.placeholder {
    padding: 5rem;
    text-align: center;
}

.sidebar__main {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #f6f7f8;
    font-weight: 700;
    font-size: 0.8rem;
    box-shadow: 2px 0px 0px 0px #f1f2f3;
}

.sidebar__main__header {
    text-transform: uppercase;
    font-weight: 800;
    color: #959596;
    display: flow-root;
}

.sidebar__main__new {
    display: inline-flex;
    margin-bottom: 1rem;
}

.sidebar__main__new button {
    margin-left: 10px;
}

.sidebar__main__list {
    margin-top: 1rem;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
}

.sidebar__main__link {
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.sidebar__main__link:hover {
    background: #58b059;
    color: #ffffff;
    cursor: pointer;
}

.display__main {
    height: 100%;
    margin-left: 27%;
    background: #ffffff;
}

.display__main__header {
    position: sticky;
    display: flow-root;
    width: 100%;
    top: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background: #ffffff;
}

.display__main__articles {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 2px #f1f2f3;
}

.button {
    padding: 6px 10px 6px 10px;
    border: 1px solid #00000014;
    font-weight: 600;
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
}

.button__save {
    background: #58b059;
    color: #ffffff;
}

.button__cancel {
    background: #ce3434;
    color: #ffffff;
}

.buttonbutton:disabled,
.button[disabled]{
    opacity: 0.75;
    cursor: not-allowed;
}

.hidden {
    display: none;
}