<div class="display__main padding">    
    {% if feed.id %}
        <div class="display__main__header">
            <div style="float:left;">
                <img src="{{ feed.image }}">
                <input class="h1 readonly" id="rss_name" readonly value="{{ feed.title }}"/>
                <input class="a readonly" id="rss_url" readonly value="Source" link="{{feed.source}}"/>
                <input type="hidden" value="{{feed.id}}" id="rss_id"/>
            </div>
            <div style="float: right;">
                <button class="button button__edit" id="edit">Edit</button>
                <button class="button button__save" id="update" disabled>Update</button>
                <button class="button button__cancel hidden" id="cancel">Cancel</button>
                <button class="button button__cancel" id="purge">Delete</button>
            </div>
        </div>
        {% if feed.articles|length > 0 %}
            {% for article in feed.articles %}
                <div class="display__main__articles">
                    <h2>{{article.title}}</h2>
                    <p>{{article.date|replace({" GMT": ""})}}<p>
                    <p>{{article.description}} <a title="{{article.title}}" target="_blank" href="{{article.link}}">See More</a></p>
                </div>
            {% endfor %}
        {% else %}
            {% if feed.message %}
                <p class="placeholder">{{ feed.message }}</p>
            {% else %}
                <p class="placeholder">No Articles Available</p>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="placeholder">No Feed Selected</p>
    {% endif %}
</div>

{% if feed.id %}
    <script>
        window.addEventListener('load', (e) => {

            let xhr = new XMLHttpRequest();
            let name = document.getElementById('rss_name');
            let url = document.getElementById('rss_url');
            let id = document.getElementById('rss_id');
            let edit = document.getElementById('edit');
            let cancel = document.getElementById('cancel');
            let update = document.getElementById('update');
            let purge = document.getElementById('purge');

            document.getElementById('edit').addEventListener('click', function(e){
            
                name.classList.remove('readonly');
                name.classList.add('input');
                url.classList.remove('readonly');
                url.classList.add('input');
                cancel.classList.remove('hidden');

                name.removeAttribute('readonly');
                url.removeAttribute('readonly');
                update.removeAttribute('disabled');

                url.value = url.getAttribute('link');
                
            });

            document.getElementById('cancel').addEventListener('click', function(e){

                name.classList.add('readonly');
                name.classList.remove('input');
                url.classList.add('readonly');
                url.classList.remove('input');
                cancel.classList.add('hidden');

                name.setAttribute('readonly', true);
                url.setAttribute('readonly', true);
                update.setAttribute('disabled', true);

                url.value = 'Source';
            });

            document.getElementById('rss_url').addEventListener('click', function(e){
                if (url.classList.contains('readonly')) {
                    window.open(url.getAttribute('link'), '_blank');
                }
            });

            document.getElementById('update').addEventListener('click', function(e){
                xhr.open("POST", '../', true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() { 
                    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                        
                        let resp = JSON.parse(xhr.response);
                        
                        if(resp == 0) {
                            console.log('error');
                        }
                    }
                }
                xhr.send(`id=${id.value}&url=${url.value}&name=${name.value}&type=update`);
            });

            document.getElementById('purge').addEventListener('click', function(e){
                xhr.open("POST", '../', true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() { 
                    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                        
                        let resp = JSON.parse(xhr.response);
                        
                        if(resp == 1) {
                            window.location.replace("index.php");
                        }
                    }
                }
                xhr.send(`id=${id.value}&type=delete`);
            });
            
        });

    </script>
{% endif %}