<!DOCTYPE html>
<html>
    <head>
        <title>Viewing {{ feed.title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <style>{{ minified_css }}</style>
    </head>
    <body style='font-family: "Open Sans", sans-serif'>
        <span id="notification" class="hidden"></span>
        {% include 'sidebar.twig' %}
        {% include 'display.twig' %}
    </body>
</html>