<div class="sidebar__main padding">
    <div class="sidebar__main__header">
        <p style="float: left">Feeds</p>
        <button style="float: right" class="button" id="add">+</button>
    </div>
    <ul class="sidebar__main__list">
        <div class="sidebar__main__new">
            <input id="rss_add" class="input hidden" type="url" placeholder="URL"/>
            <button id="save" class="hidden button button__save">Add</button>
        </div>
        {% if sidebar_links|length > 0 %}
            {% for sidebar_link in sidebar_links %}
                <a class="sidebar__main__link" href="index.php?id={{ sidebar_link.id }}">{{ sidebar_link.name ? sidebar_link.name : sidebar_link.url }}</a> 
            {% endfor %}
        {% else %}
            <p>No Feeds Yet</p>
        {% endif %}
    </ul>
</div>

<script>
    window.addEventListener('load', (e) => {
        let save = document.getElementById('save');
        let add = document.getElementById('add');
        let url = document.getElementById('rss_add');
        let xhr = new XMLHttpRequest();

        document.getElementById('add').addEventListener('click', function(e){
        
            save.classList.remove('hidden');
            url.classList.remove('hidden');
            
        });

        document.getElementById('save').addEventListener('click', function(e){

            let regexp =  /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
            if(regexp.test(url.value) == true) {

                xhr.open("POST", '../', true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() { 
                    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                        
                        let resp = JSON.parse(xhr.response);
                        
                        if(resp > 0) {
                            window.location.replace("index.php?id="+resp);
                        }
                    }
                }
                xhr.send(`url=${url.value}&type=add`);
            } else {
                url.classList.add('invalid');
            }

        });
    });
</script>
